<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>BookShoop</title>
		<link rel="stylesheet" href="../static/Style/Style.css">
		<link rel="shortcut icon" href="../static/Photo/icon.ico" type="image/x-icon">
		<style type="text/css">
		menu li:nth-child(3) a {
		border-bottom: 3px solid #4285f4;
		}
		</style>
	</head>
	<body>
		<main>
			{% include "Header.html" %}
			{% include "Menu.html" %}
		<div class="container">
			<div class="contactleft">
				<center>
				<h1>Контакты</h1>
				<b>
				<table>
					<tr>
						<td>Тел:</td>
						<td>+79505050050</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>john_doe@gmail.com</td>
					</tr>
					<tr>
						<td>Адресс:</td>
						<td>Лихачевский пр-д, 1, Долгопрудный, Московская обл., 141701</td>
					</tr>
				</table>
				</b>
				<h1>В Социальных Сетях</h1>
				<a href="https://web.facebook.com/xxxxx" target="_blank"><img src="../static/Photo/faclogo.png" alt=""></a>
				<a href="https://www.ok.ru/xxxxxx" target="_blank"><img src="../static/Photo/oklogo.png" alt=""></a>
				<a href="https://vk.com/xxxxx" target="_blank"><img src="../static/Photo/vklogo.png" alt=""></a></li>
				<br>
				<a href="https://plus.google.com/xxxxxxx" target="_blank"><img src="../static/Photo/go+logo.png" alt=""></a>
				<a href="https://www.instagram.com/xxxxx/" target="_blank"><img src="../static/Photo/inslogo.png" alt=""></a>
				<a href="https://twitter.com/xxxxx" target="_blank"><img src="../static/Photo/twilogo.png" alt=""></a></</center>
			</div>
			<div class="contactright">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8943.652313856463!2d37.50219659069032!3d55.91620751457726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b53999f198618f%3A0x19ef473ef029e0f3!2sDolgoprudny%2C%20Moscow%20Oblast%2C%20141701!5e0!3m2!1sen!2sru!4v1618678036957!5m2!1sen!2sru" height="450" frameborder="0" style="border:1px solid" allowfullscreen></iframe>
			</div>
			<nav style="clear: both"></nav>
		</div>
			{% include "Footer.html" %}

	</main>	
			
</body>
</html>